

<mat-toolbar>
  <div class="left">
    <ul>
      <li class="dropdown">
        <button class="burger" mat-mini-fab>
          <mat-icon>menu</mat-icon>
        </button>
        <div class="dropdown-content">
          <a class="dropdown-link" routerLink="">Page d'accueil</a>
          <a class="dropdown-link" routerLink="/products">Nos produits</a>
          <a class="dropdown-link" routerLink="/dialog/add">Ajouter un prdoduit</a>
        </div>
      </li>
    </ul>
    <span>
      <img class="logo" src="./../../../assets/img/Logo_Solidaris_FR_2022_CMYK.svg" routerLink="" />
    </span>
  </div>
  <div class="right">
    <ul class="stuff">
      <li routerLink="" class="little">
        <span class="material-symbols-outlined">home</span>
      </li>
      <li routerLink="" class="little">
        <span class="material-symbols-outlined">exit_to_app</span>
      </li>
      <li routerLink="" class="little">
        <span class="material-symbols-outlined">account_box</span>
      </li>
    </ul>
  </div>
</mat-toolbar>









