
/* barre de navigation */

mat-toolbar {
  background-color: #ffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.left,
.right {
  display: flex;
  align-items: center;
}
.right {
  gap: 20px;
}
.left {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-right: 10px;
}

.stuff {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 140%;
  margin: auto;
}


button {
  cursor: pointer;
}

.logo {
  max-width: 240px;
  height: 42px;
  margin-left: 10px;
}

  .logo:hover {
    cursor: pointer;
    display: inline;
  }

.rowOne {
  display: flex;
  justify-content: space-between;
}

.container:hover {
  cursor: pointer;
}


/* button home - logout - profile */

.little {
  padding: 2px;
  background: none;
  border-style: none;
  border-radius: 5px;
  border-color: #c1002a;
  color: #c1002a;
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 100ms ease-in-out;
}

  .little:hover {
    background-image: -webkit-linear-gradient(45deg, #f2d9da 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f2d9da 50%, transparent 50%);
    background-position: 0;
  }

/* burger */
.burger {
  background-color: #ffff;
  color: #c1002a;
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 100ms ease-in-out;
}

  .burger:hover {
    background-image: -webkit-linear-gradient(45deg, #f2d9da 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f2d9da 50%, transparent 50%);
    background-position: 0;
  }

/* dropdown*/

li a:hover, .dropdown:hover {
  background-color: #ffff;
}

  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 6px;
  }

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffff;
  border-style: none;
  border-radius:6px;
  background-position: 100%;
  background-size: 400%;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}


.dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
}

  .dropdown-link::after {
    content: '';
    height: 2px;
    width: 75%;
    background: #c1002a;
    position: absolute;
    left: 0px;
    bottom: 6px;
    opacity: 0;
    transition: all 0.2s;
    pointer-events: none;
  }

  .dropdown-link:hover::after {
    opacity: 1;
  }
