<mat-dialog-content>

  <mat-form-field>
    <h4>{{title}}</h4>
    <mat-label>D360</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Selectionnez une thématique</mat-label>
    <mat-select>
      <mat-option value="one">Contact Management</mat-option>
      <mat-option value="two">Business Management</mat-option>
      <mat-option value="three">SolidarIT as a Service</mat-option>
      <mat-option value="four">MY Solidaris</mat-option>
      <mat-option value="five">Case Management</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Décrivez de façon courte le produit</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Décrivez complétement le produit</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-button >Annuler</button>
    <button mat-button >Valider</button>
  </mat-dialog-actions>
</mat-dialog-content>
