
<div>
  <h2 class="products_title">Détail fiche produit</h2>
</div>

<div class="container">
  <div *ngIf="product$ | async as product" class="left">
    <div>
      {{product |json}}
      <div class="card">
        <div class="label">
          <span class="description">Description du produit</span>
          <p class="label">{{product.label}}</p>
        </div>
        <div class="information">
          <div style="text-align:center; padding: 6px">
            {{product.descriptionShort}}
          </div>
          <div style="text-align:center; padding: 6px">
            {{product.descriptionLong}}
          </div>
        </div>
      </div>
    </div>
    <div class="backhome">
      <button routerLink="/dialog/add" type="button" class="btn">Ajouter un nouveau produit</button>
      <button [routerLink]="'/dialog/edit/' + product.id" type="button" class="btn">Modifier</button>
    </div>
    <div class="communication">
      <p>Version 1 en cours de développement</p>
    </div>
    <div class="Documentation">
      <link />
      <link />
    </div>
    <div class="Release">

      <span>Date</span>
      <span>Texte explicatif</span>



    </div>
  </div>
  <div *ngIf="!(product$ | async)">
    <p>Chargement des détails du produit...</p>
  </div>

  <!--a mettre sur le coté-->
  <div class="right">
    <div class="backhome">
      <button routerLink="" type="button" class="btn">Retour à la page précédente</button>
    </div>
    <div>
      <div>
        <h4>Equipe</h4>
        <div>
          <button type="button">
            <span class="material-symbols-outlined">
              contact_mail
            </span>
          </button>
          <button type="button">
            <span class="material-symbols-outlined">
              contact_mail
            </span>
          </button>
        </div>
        <ul>
          <li>
            Nom de la personne 1
          </li>
          <li>
            Nom de la personne 2
          </li>
          <li>
            Nom de la personne 3
          </li>
          <li>
            Nom de la personne 4
          </li>
        </ul>
      </div>
      <div>
        <h4>Fonctionalités</h4>
        <p>Don't know</p>
        <p>Don't know</p>
      </div>
    </div>
  </div>
</div>

