

<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <button>
      <img src="../../assets/img/logoLong.png" width="150px" height="auto"/>
    </button>
  </span>
  <span class="example-spacer"></span>
  <a>
    <button mat-raised-button color="antiquewhite">
      Products
      <!--<a [routerLink]="ProductsComponent">{{ ProductsComponent }}</a>-->
    </button>

  </a>
  <a>

    <button mat-raised-button color="antiquewhite">
      Details
    </button>
  </a>
 
  <button mat-icon-button class="example-icon favorite-icon">
    <img src="../../assets/img/baseline_logout_black_24dp.png" />
  </button>
  <button mat-icon-button class="example-icon">
    <img src="../../assets/img/baseline_account_circle_black_24dp.png" />
  </button>
</mat-toolbar>




