

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="burger" mat-mini-fab (click)="opened=!opened">
      <mat-icon>menu</mat-icon>
    </button>
    <img class="logo" src="../../../../assets/img/Logo_Solidaris_FR_2022_CMYK.svg" routerLink="" />
    <div class="container">
      <span class="stuff">
        <button routerLink="" class="little">
          <span class="material-symbols-outlined">home</span>
        </button>
        <button class="little">
          <span class="material-symbols-outlined">exit_to_app</span>
        </button>
        <button class="little">
          <span class="material-symbols-outlined">account_box</span>
        </button>
      </span>

      <span>
        <button mat-raised-button color="antiquewhite" routerLink="/products" class="btn first">
          Products
        </button>
        <button mat-raised-button color="antiquewhite" routerLink="details" class="btn second">
          Details
        </button>
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>


<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="side">

    <li routerLink="">Page d'accueil</li>
    <li routerLink="/products">Nos produits</li>
    <li routerLink="/details">Nos services</li>
  </mat-sidenav>
  <mat-sidenav-content>
    end

  </mat-sidenav-content>
</mat-sidenav-container>




