
<div>
  <h2>Ajouter un produit</h2>
  <button routerLink="" type="button" class="btn">Retour</button>
</div>

<form  #elseForm [formGroup]="productForm" (ngSubmit)="onSubmit()" class="form">
  <div class="label">
    <label for="product-label">Quel est le nom de ce produit? </label>
    <input id="product-label" type="text" formControlName="label"/>
  </div>
  <div class="theme">
    <label for="product-themeId">Sélectionnez une thématique de produit</label>
    <select id="product-themeId" formControlName="themeId">
      <option value="1">Business Management</option>
      <option value="2">Contact Management</option>
      <option value="3">SolidarIT as a Services</option>
      <option value="4">My Solidaris</option>
      <option value="5">Case Management</option>
    </select>
    <div *ngIf="productForm.controls['label'].errors && (productForm.controls['label'].dirty ||productForm.controls['label'].touched)">
      La thématique est requise
    </div>
  </div>
  <div class="description">
    <label for="product-descriptionShort">Décrivez rapidement le produit</label>
    <input id="product-descriptionShort" type="text" formControlName="descriptionShort" />
  </div>
  <div class="description">
    <label for="product-descriptionLong">Décrivez de facon complète</label>
    <input id="product-descriptionLong" type="text" formControlName="descriptionLong" placeholder="Taille min. de 10 char." />
  </div>
  <div class="form-buttons-container">
    <button type="submit" id="add-product">Ajouter</button>
    <button routerLink="/products" class="goBack">Annuler</button>
  </div>
</form>

