<h2 class="products_title">Choisissez parmis nos différents services :</h2>

<div class="backhome">
  <button routerLink="" type="button" class="btn">Retour à la page précédente</button>
</div>

<div class="container" routerLink="/details" >
  <div class="card" *ngFor="let p of products">
    <div class="label">
      <h2 class="label">{{p.Label}}</h2>
    </div>
    <div class="information">
      <div>
        <img class="image" src=" {{ p.Image }}" />
      </div>
      <div style="text-align:center; padding: 6px">
        {{p.DescriptionShort}}
      </div>
    </div>
  </div>
</div>


