

<div class="title">

  <h2 class="products_title">Choisissez parmis nos différents services :</h2>

  <div class="backhome">
    <button routerLink="" type="button" class="btn">Retour à la page précédente</button>
  </div>
</div>

<div *ngIf="product$ | async as product" class="container">
  <div *ngFor="let prod of product">
    <!--{{prod |json}}-->
    <div routerLink="/details/{{prod.id}}" class="card">
      <div class="label">
        <h2 class="label">{{prod.label}}</h2>
      </div>
      <div class="information">
        <div>
          <img  *ngIf="prod.image" class="image" src="{{prod.image}}" />
        </div>
        <div style="text-align:center; padding: 6px">
          {{prod.descriptionShort}}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!product$">
  <p>Chargement des détails des thématiques...</p>
  <span class="loader"></span>
</div>

