/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F4f5f7; }
/*

p {
  font-size: 2.125rem;
  font-family: 'SF pro display', sans-serif;
  color: #000000
}

*/
