/* You can add global styles to this file, and also import other style files */

/* html, body { height: 100%; }*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  

  list-style-type:none;
}
body, html {
  margin: auto;
  height: auto;
  padding: 0;
  background-size: cover;

}
body {
  background-color: white;
 /* background: rgb(236,198,200);
  background: -moz-linear-gradient(0deg, rgba(236,198,200,1) 0%, rgba(255,255,255,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(236,198,200,1) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(0deg, rgba(236,198,200,1) 0%, rgba(255,255,255,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ecc6c8",endColorstr="#ffffff",GradientType=1);*/
}
