
<div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="products_title">
          Ajouter un produit
          <a routerlink="" class="button">Retour</a>
        </h2>
      </div>
      <div class="card-body" (ngSubmit)="saveAddProduct()" >
        <mat-form-field hintLabel="Max 10 characters">
          <mat-label>Entrer le nom du produit</mat-label>
          <input [(ngModel)]="label" name="label" type="text" matInput #input maxlength="10" placeholder="Ex.D360 ">
          <mat-hint>{{input.value.length}}/10</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Select me</mat-label>
          <mat-select>
            @for (theme of themes; track theme) {
            <mat-option [theme]="theme.valueOf">{{theme}}</mat-option>
            }
          </mat-select>
          <mat-hint>Voici la flêche déroulante ^</mat-hint>
        </mat-form-field>
        <mat-form-field>
          <mat-label [(ngModel)]l="descriptionShort">Décrivez de facon courte le produit</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label [(ngModel)]="descriptionLong">Décrivez complétement le produit</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
        <div>
          <button type="submit" class="btn"  (click)="saveAddProduct()" >Enregistrer</button>
          <button type="submit"  class="btn" (click)="saveAddProduct()" >Annuler</button>
        </div>
      </div> 
    </div>
  </div>
</div>

