.btn {
  padding: 4px;
  width: 240px;
  height: 50px;
  font-weight: bold;
  background: #f2d9da;
  border-style: none;
  border-radius: 5px;
  border-color: #c1002a;
  color: #c1002a;
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 200ms ease-in-out;
  transition: background 100ms ease-in-out;
}

  .btn:hover {
    background-image: -webkit-linear-gradient(45deg, #c1002a 50%, transparent 50%);
    background-image: linear-gradient(45deg, #c1002a 50%, transparent 50%);
    background-position: 0;
    color: #f2d9da;
  }
