
<div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="products_title">
          Ajouter un produit
          
        </h2>
        <div>
          <button routerLink="" type="button" class="btn">Retour</button>
        </div>
      </div>
      <div *ngIf="isLoading; else elseForm ">
        <app-loader title="loadingTitle" />
      </div>
      <ng-template #elseForm>
        <div class="card-body" (ngSubmit)="saveProduct()">
          <mat-form-field hintLabel="Max 10 characters">
            <mat-label>Entrer le nom du produit</mat-label>
            <input [(ngModel)]="label" name="label" type="text" matInput #input maxlength="10" placeholder="Ex.D360 ">
            <span *ngIf="errors.label" class="text-danger">{{errors.label}}</span>
            <mat-hint>{{input.value.length}}/10</mat-hint>
          </mat-form-field>
          <!--<mat-form-field>
    <mat-label>Select me</mat-label>
    <mat-select name="theme">
      @for (theme of themes; track theme) {
      <mat-option [theme]="theme">{{theme}}</mat-option>
      }
    </mat-select>
    <span *ngIf="errors.theme" class="text-danger">{{errors.theme}}</span>
    <mat-hint>Voici la flêche déroulante ^</mat-hint>
  </mat-form-field>-->
          <h4>Choisissez une thématique</h4>
          <mat-form-field>
            <mat-label>Thématique</mat-label>
            <select matNativeControl required>
              <option name="Business Management">Business Management</option>
              <option value="Contact Management">Contact Management</option>
              <option value="SolidarIT as a Services">SolidarIT as a Services</option>
              <option value="My Solidaris">My Solidaris</option>
              <option value="Case Management">Case Management</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label >Décrivez de facon courte le produit</mat-label>
            <textarea matInput [(ngModel)]="descriptionShort" name="descriptionShort"></textarea>
            <span *ngIf="errors.descriptionShort" class="text-danger">{{errors.descriptionShort}}</span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Décrivez complétement le produit</mat-label>
            <textarea matInput  [(ngModel)]="descriptionLong" name="descriptionLong"></textarea>
            <span *ngIf="errors.descriptionLong" class="text-danger">{{errors.descriptionLong}}</span>
          </mat-form-field>
          <div>
            <button type="submit" class="btn" (click)="saveProduct()">Enregistrer</button>
            <button  routerLink="" type="button" class="btn">Annuler</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

