

<mat-toolbar>
  <button mat-icon-button class="example-icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>
    <button routerLink="">
      <img src="../../assets/img/logoLong.png" width="150px" height="auto"/>
    </button>
  </span>
  <span class="example-spacer"></span>
  <a routerLink="/products">Products</a>
    <!--<button mat-raised-button color="antiquewhite">
      Products
      <a routerLink="products">ProductsComponent</a>
    </button>-->
  <a>
    <button mat-raised-button color="antiquewhite" routerLink="details">
      Details
    </button>
  </a>
  <button mat-icon-button class="example-icon favorite-icon">
    <img src="../../assets/img/baseline_logout_black_24dp.png" />
  </button>
  <button mat-icon-button class="example-icon">
    <img src="../../assets/img/baseline_account_circle_black_24dp.png" />
  </button>
</mat-toolbar>




