
.homepage_title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 80vh;
  flex-direction: row;
}

  .container .card {
    margin: 13px;
    height: 250px;
    width: 200px;
    border-radius: 12px;
    border-top: 1px solid rgb(125, 125, 125);
    border-left: 1px solid rgb(125, 125, 125);
    padding: 10px;
    background-color: rgb(244, 226, 230, 0.1);
    backdrop-filter: blur(1px);
    filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  }


  .container .card:hover {
    cursor: pointer;
    transform: scale(1.150);
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;
  }


  .container .card .name {
    background-color: var(--c-white);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
  }

  .name:hover {
    cursor: pointer;
  }


.container .card .image {
  width: 70px;
  height: 70px;
  list-style-type: none;
  text-align: center;
}

  .image:hover {
    cursor: pointer;
  }

.container .card .button {
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

