<div *ngIf="product">


  <div>
    <h2> Detail de : {{product.label}}</h2>
  </div>
  <form #elseForm [formGroup]="editProductForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="product-label">Quel est le nom de ce produit?</label>
      <input id="product-label" type="text" formControlName="label" />
    </div>
    <div>
      <label for="product-themeId">Sélectionnez une thématique de produit:</label>
      <select id="product-themeId" formControlName="themeId">
        <option value="1">Business Management</option>
        <option value="2">Contact Management</option>
        <option value="3">SolidarIT as a Services</option>
        <option value="4">My Solidaris</option>
        <option value="5">Case Management</option>
      </select>
      <div *ngIf="editProductForm.controls['themId'].errors && (editProductForm.controls['themeId'].dirty || editProductForm.controls['themeId'].touched)">
        La thématique est requise
      </div>
    </div>
    <div>
      <label for="product-descriptionShort">Décrivez de facon courte le produit</label>
      <input id="product-descriptionShort" type="text" formControlName="descriptionShort" />
    </div>
    <div>
      <label for="product-descriptionLong">Décrivez de facon complète</label>
      <input id="product-descriptionLong" type="text" formControlName="descriptionLong" />
    </div>
    <div class="form-buttons-container">
      <button type="submit" id="edit-product">Editer</button>
      <button routerLink="/products" class="goBack">Annuler</button>
    </div>
  </form>
  <button (click)="onDelete()" id="delete-product">Supprimer le produit</button>
</div>

{{product | json}}
