
<div>
  <div class="container">
    <div class="card">
      <div class="card-header">
        <h2 class="products_title">
          Editer un produit
          <button routerlink="" type="button" class="btn">Retour</button>
        </h2>
        <div>
        </div>
      </div>
      <div *ngIf="updateSuccess">
        <div class="alert alert-success">Produit édité avec succés</div>
      </div>
      <div *ngIf="updateSuccess==false">
        <div class="alert alert-danger">Le produit n'a pas été édité, tous les champs ne sont pas complets</div>
      </div>
      <div *ngIf="isLoading; else elseForm ">
        <app-loader />
      </div>
      <ng-template #elseForm (ngSubmit)="onUpdateProduct()">
        <div class="card-body" >
          <mat-form-field hintLabel="Max 10 characters">
            <mat-label>Entrer le nom du produit</mat-label>
            <input  name="label"  #label="ngModel" [(ngModel)]="product.label" type="text" matInput #input maxlength="10" placeholder="Ex.D360 ">
            <span *ngIf="error.label" class="text-danger">{{error.label}}</span>
            <!--<mat-hint>{{input.value.length}}/10</mat-hint>-->
          </mat-form-field>
          <h4>Choisissez une thématique</h4>
          <mat-form-field>
            <mat-label>Thématique</mat-label>
            <select matNativeControl required>
              <option name="Business Management">Business Management</option>
              <option value="Contact Management">Contact Management</option>
              <option value="SolidarIT as a Services">SolidarIT as a Services</option>
              <option value="My Solidaris">My Solidaris</option>
              <option value="Case Management">Case Management</option>
            </select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Décrivez de facon courte le produit</mat-label>
            <textarea matInput  name="descriptionShort" #descriptionShort="ngModel"   [(ngModel)]="product.descriptionShort" ></textarea>
            <span *ngIf="error.descriptionShort" class="text-danger">{{error.descriptionShort}}</span>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Décrivez complétement le produit</mat-label>
            <textarea matInput name="descriptionLong" #descriptionLong="ngModel"  [(ngModel)]="product.descriptionLong" ></textarea>
            <span *ngIf="error.descriptionLong" class="text-danger">{{error.descriptionLong}}</span>
          </mat-form-field>
          <div>
            <button type="submit" class="btn">Enregistrer</button>
            <button routerLink="" type="button" class="btn">Annuler</button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>

